$background-primary: #111111;
$accent: #fc533e;
$pure-black: #000000;
$pure-white: #ffffff;
$grey-100: #aaaaaa;
$grey-200: #555555;
$grey-300: #333333;
$base-font-size: 14px;
$logo-reveal-size: 58px;
$base-line-heigh: 20px;
$base-font-family: Space-Mono;
@font-face {
	src: url(assets/fonts/Carbon.ttf);
	font-family: Carbon;
	font-weight: 700;
}
@font-face {
	src: url(assets/fonts/SpaceMono-Bold.ttf);
	font-family: Space-Mono;
	font-weight: 700;
}
@font-face {
	src: url(assets/fonts/SpaceMono-Regular.ttf);
	font-family: Space-Mono;
	font-weight: 400;
}
@font-face {
	src: url(assets/fonts/Japan.ttf);
	font-family: Japan;
}
body {
	background-color: $background-primary;
	display: inline-block;
	margin: 0;
	width: 100vw;
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
?	all the boiler plate for the basic declaration

*	forced loading of initial mirai logo uses popLogoReveal()

*/

.logo-reveal {
	font-size: $logo-reveal-size;
	color: $pure-white;
	font-family: Japan;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 44vh;
	display: block;
}

.black-box-cursor {
	color: $grey-300;
}

/*

*	prime-holder consists of the entire layout of the rest page has these sections 
*	header, minigraph and content and footer
!	here is the animation dealy

*/

.prime-holder {
	//height: 100%;
	margin-left: 8vw;
	margin-right: 8vw;
	margin-top: 8vh;
	animation-name: reveal-prime;
	animation-delay: 0.5s;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	opacity: 0;
	animation-fill-mode: forwards;
}

.prime-holder .header {
	display: flex;
}

/*

*	Defined header with logo and about

*/

.header {
	display: flex;
	justify-content: space-between;
}

.about {
	color: $grey-200;
	cursor: pointer;
	font-family: Carbon;
	font-size: 12px;
	text-transform: uppercase;
}

.about:hover {
	color: $grey-100;
}

#mirai-logo {
	cursor: pointer;
}

/*

*	Defined content on first hit

*/

.content {
	margin-top: 28vh;
	text-align: center;
}

.megatrox-text {
	font-size: 22px;
	font-family: $base-font-family;
	letter-spacing: -0.8px;
	color: $pure-white;
	text-align: center;
}

#sample-wave {
	width: 52px;
	height: 20px;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

#sample-wave path {
	stroke: #fc533e;
	stroke-width: 5px;
	fill: none;
}

.input {
	display: grid;
}

.input .title {
	color: $grey-100;
	font-family: $base-font-family;
	font-size: 14px;
	letter-spacing: -0.2px;
}

#dob {
	background-color: transparent;
	border: transparent;
	width: 120px;
	color: $pure-white;
	margin-top: 1vh;
	outline: transparent;
	font-family: $base-font-family;
	font-size: 14px;
	letter-spacing: -0.2px;
	cursor: pointer;
	caret-color: $accent;
	margin-right: auto;
	margin-left: 16px;
}

.input .error-text{
	font-family: $base-font-family;
	font-size: 10px;
	margin-top: 1vh;
	color: #ED4C4C;
	margin-left: 8px;
	display: none;
}

#dob :focus {
	border: none;
	outline: transparent;
}

#enter-icon {
	opacity: 0;
	margin-left: 1vw;
	position: absolute;
	margin-top: 1vh;
	cursor: pointer;
}

#dob:focus + #enter-icon {
	opacity: 0.5;
}

/*

*	Modal

*/

.modal {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	transform: scale(1);
	z-index: 99999990;
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 72vh;
	width: 60vw;
	transform: translate(-50%, -50%);
	background-color: $background-primary;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	overflow: scroll;
}

.close-button {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	color: $pure-white;
	font-size: 20px;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	position: fixed;
	transform: scale(1);
	width: 100%;
	height: 100%;
	z-index: 999;
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.content-modal {
	margin-top: 6vh;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-bottom: 4vh;
}

.content-modal .heading {
	color: $pure-white;
	font-family: $base-font-family;
	font-size: 14px;
	margin-top: 4vh;
}

.content-modal .response-modal {
	color: $pure-white;
	font-family: $base-font-family;
	font-size: 12px;
	margin-top: 1vh;
	line-height: 20px;
	opacity: 0.8;
}

/*

*	Minigraphs

*/

.minigraphs {
	margin-top: -32vh;
	height: 200px;
	margin-left: 10vw;
	margin-right: 10vw;
}

/*

* all the keyframe animations

*/

@keyframes reveal-prime {
	from {
		transform: translateY(2vh);
	}
	to {
		opacity: 1;
	}
}

.rhythm {
	width: 400px;
	height: 400px;
}

/*

* line-chart

*/

.apexcharts-tooltip.apexcharts-theme-dark {
	background: #0d0d0d !important;
	box-shadow: none;
}

.apexcharts-tooltip-title {
	border-bottom: none !important;
}

#SvgjsLine1013 {
	stroke: $grey-300;
}

#SvgjsLine1061 {
	stroke: $grey-300;
}

#SvgjsLine1306 {
	stroke: $grey-300;
}

/*

* radial-charts

*/

.response {
	margin-top: 6vh;
	height: 40vh;
	opacity: 0;
}

.radial-chart {
	display: flex;
	justify-content: space-around;
	width: 90%;
	height: max-content;
	padding: 0;
	margin: auto;
	transform: scale(0.7);
}

.apexcharts-tooltip-title {
	font-family: $base-font-family !important;
	font-weight: 700 !important;
	font-size: 14px !important;
}

.apexcharts-tooltip-text {
	font-family: $base-font-family !important;
	font-size: 12px !important;
}

.line-chart {
	display: flex;
	position: relative;
	width: 80%;
	min-height: 0 !important;
    margin: 10vh auto 0 auto;
    transform: translate(-2vw, 0px);
}

.apexcharts-inner.apexcharts-graphical {
	transform: translate(0, 19) !important;
}

.apexcharts-radialbar-track.apexcharts-track {
	opacity: 0.05;
}

.radial-chart-child {
	width: 100%;
	flex-basis: 33%;
	transform: scale(0.9);
}

.apexcharts-xaxis {
	display: none;
}

.apexcharts-yaxis {
	display: none;
}

.apexcharts-toolbar {
	display: none !important;
}

.apexcharts-grid {
	display: none !important;
}

.apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark {
	display: none !important;
}

.apexcharts-legend {
	display: none;
}

.chart-title {
	font-size: $base-font-size;
	font-family: Carbon;
	color: $grey-300;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

#chart-title-month {
	transform: translate(0px, 60px);
}

.line-chart-wrapper {
	margin-top: 6vh;
	position: relative;
}

/*

* Footer

*/

.footer {
	position: fixed;
	left: 0;
	bottom: 3vh;
	width: 84%;
	text-align: right;
	margin-right: 8vw;
	margin-left: 8vw;
	animation-name: reveal-footer;
	animation-delay: 2s;
	display: none;
	opacity: 0;
}

#gitLink {
	bottom: auto;
	width: 100%;
	color: $grey-200;
	cursor: pointer;
	font-family: Carbon;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
}

#gitLink:hover {
	color: $grey-100;
}
#gitLink:visited {
	text-decoration: none;
}